name: Test

on:
  workflow_dispatch:
  push:
    tags:
      - "*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Unit Test
    runs-on: macos-26
    timeout-minutes: 30
    env:
      DEVELOPER_DIR: "/Applications/Xcode_26.0.1.app/Contents/Developer"

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Show Xcode Version
        run: xcodebuild -version

      - name: Run Unit Tests
        run: |
          xcodebuild test \
            -scheme Calculator \
            -destination "platform=macOS,arch=arm64" \
            -derivedDataPath DerivedData \
            -resultBundlePath TestResults/unit_test_result_bundle | \
            xcbeautify && exit ${PIPESTATUS[0]}
